- unless wizard?
  - add_breadcrumb _("Channel"), poll_channel_path(@poll.id)
  = render :partial => 'shared/poll_tabs', :locals => { :poll => @poll, :active_tab => 'channel' }

%h1 Channel

%div{:style => "margin-top:-10px;margin-bottom:15px;"}
  A Twitter channel enables you to send polls from your twitter account.
- if @poll.channel
  .CurrentChannelBox.box.grey
    .left
      %p.black Twitter channel
      %p.grey
        Username: 
        = @poll.channel.address
    = link_to_unless wizard?, '', poll_channel_path(@poll), :method => :delete, :class => 'icon fdelete right', :confirm => _("Are you sure you want to delete this channel?")

.LocalGatewayBox.box
  = grey_link_to _('Change channel'), new_poll_channel_path(@poll, :wizard => wizard?), :class => 'right'

- if wizard?
  %br
  %hr
  .actions
    = white_link_to _('Back'), edit_poll_path(@poll, :wizard => true)
    = grey_link_to _("Next"), poll_respondents_path(@poll, :wizard => true)