- add_breadcrumb "Add channel", new_poll_channel_path(@poll)

= render :partial => 'shared/form_header', :locals => { :poll => @poll, :active_tab => 'channel' }

%h1 
  Add channel for
  = @poll.title

= form_for @channel, :method => :post, :url => { :action => "create" } do |f|
  .field.w20
  = errors_for @channel

  = f.label :ticket_code
  = f.text_field :ticket_code

  %br
  %br

  = grey_button "Save"
  = white_link_to "Cancel", @poll