- unless wizard?
  = render :partial => 'shared/poll_tabs', :locals => { :poll => @poll, :active_tab => 'channel' }
  - add_breadcrumb _("Add channel"), new_poll_channel_path(@poll.id)

= hidden_field_tag "referer", params[:referer], :id => :referer
.user_channel
  %form#new_channel
    %h2= _("Channel kind")
    %p= _("What kind of channel would you like to create?")
    %br
    .field
      %input#channel-phone{type: 'radio', name: 'type', value: 'phone', checked: true}
      %label.radio{for: 'channel-phone'} Send polls from your mobile phone
      %br
      %input#channel-twilio{type: 'radio', name: 'type', value: 'twilio'}
      %label.radio{for: 'channel-twilio'} Send polls from a Twilio number
      %br
      %input#channel-twitter{type: 'radio', name: 'type', value: 'twitter'}
      %label.radio{for: 'channel-twitter'} Send polls via Twitter direct messages
    #twitter-message
    %hr/
    .actions
      %button.white{type: 'submit'} Next

:javascript
  $(function() {
    $('#new_channel').submit(function() {
      var type = $('#new_channel input:radio[name=type]:checked').val();
      window.location = "/#{params[:locale]}/polls/#{@poll.id}/" + type + "_channel/new";
      return false;
    });
  });