<script type="text/javascript">
	$(document).ready(function () {
		$('input[name=localGateway]').click(function () {
			$('#next').attr('data-remote', 'true')
			$('#next').attr('href', $(this).data('url'));
		});
	});
</script>

<% unless params[:wizard] %>
	<%= wizard @steps, @wizard_step %>
<% end %>

<div class="ChannelWizard">
	<h1>Choose your type of mobile phone</h1>
	<!-- Android Local Gateway -->
	<%= radio_button_tag :localGateway, :android, checked=false, :id => :androidLocalGateway, 'data-url' =>  step_path(:b_a_download_android_local_gateway), :class => :left %>
	<div class="left AndroidLogo"></div>
	<%= label_tag :androidLocalGateway, "Android mobile phone" , :class => "left" %>
	<p class="w30 clear description">
		If you have an Android powered mobile phone, you don't need a computer to set up your schedules. Just download the application, enter your text messages, and set your delivery schedule, Remindem handles the rest.
	</p>
	<!-- Desktop Local Gateway -->
	<%= radio_button_tag :localGateway, :desktop, checked=false, :id => :desktopLocalGateway, 'data-url' => step_path(:b_b_download_desktop_local_gateway), :class => :left %>
	<div class="left DesktopLogo"></div>
	<%= label_tag :desktopLocalGateway, "Other mobile phone", :class => "left" %>
	<p class="w30 clear description">
		If you use another type of mobile phone all you need to do is plug your phone into your computer and bridge the gap between your text messages and the internet application that sends them out.
	</p>
</div>

<hr />

<div class="ChannelWizardNavigation">
	<%= back_to_start %>
	<%= grey_link_to 'Next', '#', :id => "next" %>
</div>
