= form_for :channel, :url => poll_channels_path(@poll), :remote => (!params[:wizard]), :html => { :class => :validate} do |f|
  - if params[:wizard]
    = hidden_field_tag :wizard, 1
  = hidden_field_tag :next_step, "c_new_#{gateway}_channel"
  .ChannelWizard
    %h1.orange Enter the gateway code from your mobile phone
    %div{:class => "#{gateway.capitalize}Screen left"}
    %br/
    %div{:class => "GreyArrow #{gateway.capitalize}Arrow left"}
    %br/
    %div{:class => "left #{gateway.capitalize}ChannelCreation"}
      %p.w30
        Copy the code for automated setup from the Nuntium Local Gateway in here to bind your local gateway to this poll.
      .field
        = f.text_field :ticket_code, :placeholder => _('Enter gateway code'), :class => "required", :size => 19
        = error_message_for @channel, :ticket_code
  %hr/
  .ChannelWizardNavigation.actions
    = back_to "b_download_#{gateway}_local_gateway"
    = button_tag _("Next"), :class => 'grey'
    = link_to _("Skip this step"), poll_respondents_path(@poll, :wizard => wizard?), :class => "wizard-skip" if wizard?
