.field{:id => "field_#{question_counter}", "data-field-index" => question_counter, "data-error" => question.invalid?.to_s}
  .fieldtop
    .fieldbot
      - unless disabled
        .fielddel
          = link_to_function "", "remove_field(#{question_counter})", :class => 'remove_field' if question.new_record?
      .fieldimg{:class => ("selected" if question_counter == 0)}
        = link_to_function "", "select_field('#{question_counter}')", :class => question.kind        
        
      .fieldcontent
        %span.fieldtitle.fieldname
          = question.title
          
        .fielddesc
          %span.fieldhint.left
            = "Description: #{question.description}" unless question.description.blank?
          .clear
          - if question.invalid?
            %span.fielderror.left
              = question.errors.full_messages.to_sentence
            .clear
      



