.feditor-form{ko(visible: 'active')}
  = f.hidden_field :kind
  = f.hidden_field :id
  = f.hidden_field :field_name
  = f.hidden_field :position

  %p.title Title
  %p.smalltext The name of this question as it is presented.
  = f.text_field :title, :class => 'feditor-field-name required', 'data-bind' => 'attr: {readonly: readonly}'
  %hr

  %p.title Description
  %p.smalltext Additional help for this question.
  = f.text_field :description, :class => 'feditor-field-hint', 'data-bind' => 'attr: {readonly: readonly}'
  %hr

  - ko_if 'kind_numeric' do
    %p.title Range
    %p.smalltext Range of values accepted for this question
    = f.text_field :numeric_min, :class => "w13", :'data-bind' => 'attr: {readonly: readonly}', :type => 'number'
    %span.smalltext to
    = f.text_field :numeric_max, :class => "w13", :'data-bind' => 'attr: {readonly: readonly}', :type => 'number'
    %hr

  - ko_if 'kind_text' do
    %p.title Size
    %p.smalltext Accepted response length for this question
    = f.text_field :min_length, :class => "w13", :'data-bind' => 'attr: {readonly: readonly}', :type => 'number'
    %span.smalltext to
    = f.text_field :max_length, :class => "w13", :'data-bind' => 'attr: {readonly: readonly}', :type => 'number'
    %hr
    -# HACK: Rails generates two check_boxes when using f.check_box, to ensure the falsy value is always submitted
    -# This causes two different values sent to the server when the value is true, since we are inside an array
    -# Handle this value as a hidden text field, editable via a visible check box
    = f.hidden_field :collects_respondent#, bind: false, :'data-bind' => 'value: collects_respondent'
    %input{ko(checked: 'collects_respondent').merge(:class => 'feditor-capture-respondent', :title => "This question will not be sent to the respondents, but will be used to automatically store their phone numbers in the responses spreadsheet.", :type => "checkbox", :value => "1")}
    %span Stores sender phone number

  - ko_if 'kind_options' do
    %p.title Options
    %p.smalltext Possible values for this question.
    %ul.feditor-form-options.clist.w30
      %li.feditor-form-option{ko(foreach: 'options')}
        = text_field_tag "#{f.object_name}[options][]", nil, :'data-bind' => 'attr: {readonly: $parent.readonly()}, value: text', :class => "ux-clist"
        %a.right.removeoption{ko(click: 'remove'), href: '#'} &#215;
      .clear

  .clear

  - ko_if 'editable() && kind_options()' do
    .feditor-form-option-new.require_from_group{ko(with: 'new_option')}
      %input.newoption.small.option{ko(textInput: 'text', hasFocus: 'focus', event: { keypress: 'onEnter' }), type: 'text', placeholder: 'Enter a new option'}
      %a.right.addoption{ko(click: 'add', visible: '(text().length > 0)')} +
    .clear


