- f = question_form
- disabled = !f.object.new_record?

.fieldform{:id => "field_form_#{index}", "data-field-index" => index}
  = f.hidden_field :kind
  
  = f.label :title, "Question Title"
  %p The name of this question as it is presented.
  = f.text_field :title, :disabled => disabled, :class => 'fieldname required'
  %hr
  
  = f.label :description
  %p Additional help for this question.
  = f.text_field :description, :disabled => false, :class => 'fieldhint'
  %hr

  

  - if f.object.kind_has_options?
    = f.label :options
    %p Possible values for this question.
    %br
    .fieldoptions
      - if f.object.options
        - f.object.options.each do |opt|
          = render :partial => 'question_option', :object => opt, :locals => {:f => f}
    .clear
    .newfieldoption.require_from_group
      = f.text_field 'option[]', :disabled => disabled, :value => nil, :class => 'small option', :placeholder => 'Enter a new options'
      = link_to_add_question_option f, :class => 'right addoption'
      .clear


