<ul class="TourNavigation left">
  <li class="start <%= 'selected' if params[:page] == 'start' %>">
    <a class="" href="<%= tour_path(:start) %>">
      <h2>Start</h2>
      <p>with a free account</p>
    </a>
  </li>
  <li class="create <%= 'selected' if params[:page] == 'create' %>">
    <a class="" href="<%= tour_path(:create) %>">
      <h2>Create</h2>
      <p>unlimited polls</p>
    </a>
  </li>
  <li class="poll <%= 'selected' if params[:page] == 'poll' %>">
    <a class="" href="<%= tour_path(:poll) %>">
      <h2>Poll</h2>
      <p>your people</p>
    </a>
  </li>
  <li class="analyze <%= 'selected' if params[:page] == 'analyze' %>">
    <a class="" href="<%= tour_path(:analyze) %>">
      <h2>Analyze</h2>
      <p>your results</p>
    </a>
  </li>
</ul>