%h1= poll.title
.whitebox.w60
  = poll.description
%br

%ul.tabs.top
  %li#overview
    = link_to _("Overview"), poll
  %li#answers
    = link_to _("Answers"), poll_answers_path(poll)
  %li#respondents
    = link_to _("Respondents"), poll_respondents_path(poll)
  %li#channel
    = link_to _("Channel"), poll_channel_path(poll)
  %li#settings
    = link_to _("Settings"), edit_poll_path(poll)

.tabsline

:javascript
  $('##{active_tab}').addClass('active');
