Start
.homepage
  .right
    .illustration
    %a.button.fpdf.right{:href => "/docs/instedd-pollit.pdf", :target=>"_blank"}
      Download brochure (~400 KB)
  %h1.home Collect opinions,
  %p
    Safe 1?
    = (_"Get started: %s").html_safe?
    Safe 2?
    = link_button_to(_('View your polls'), polls_path, :class => "orange").html_safe?
    Safe 3?
    = ((_"Get started: %s") % link_button_to(_('View your polls'), polls_path, :class => "orange")).html_safe?
    = _("Test string 1")
    = _ "Test 2"
    - s1= _ "Translate silent"
    - s2= _ "Translate silent 2"
    - s3= _("Translate silent 3")
    = s1
    = s2
    = s3
