#answers-list
  .tablewrapp
    = instedd_table_for @answers, [_("Respondent"), _("Question"), _("Answer")] + (@poll.recurrence_kind == :iterative ? [_("Occurrence")] : []) + [_("Date")], :class => "GralTable w-pagination", :empty => (@poll.status_configuring? ? _("This poll has not commenced yet; start the poll to receive answers from your respondents.") : _("No answers have been received yet.")) do |answer|
      %tr
        %td= answer.respondent.unprefixed_phone
        %td= answer.question.title
        %td= answer.response
        - if @poll.recurrence_kind == :iterative
          %td= answer.occurrence
        %td= answer.created_at.strftime("%Y-%m-%d %H:%M:%S")
    = paginate @answers, :remote => true
