= render :partial => 'shared/form_header', :locals => { :poll => @poll, :active_tab => 'answers' }

%h1
  Answers

.tablewrapp
  = instedd_table_for @poll.answers, ["Respondent", "Question", "Answer", "Date", "Pushed"], :empty => (@poll.status_configuring? ? "This poll has not commenced yet; start the poll to receive answers from your respondents." : "No answers have been received yet.") do |answer|
    %tr
      %td= answer.respondent.unprefixed_phone
      %td= answer.question.title
      %td= answer.response
      %td= answer.created_at.strftime("%Y-%m-%d %H:%M:%S")
      %td= answer.respondent.pushed_status
  