%h1
  Answers for
  = @poll.title

= instedd_table_for(@poll.answers, headers=["Respondent", "Question", "Answer", "Date", "Pushed"]) do |answer|
  %td= answer.respondent.unprefixed_phone
  %td= answer.question.title
  %td= answer.response
  %td= answer.created_at.strftime("%Y-%m-%d %H:%M:%S")
  %td= answer.respondent.pushed_status
  