#poll_form_container
  = form_for @poll, :html => {:id => 'poll_form'} do |f|
    = errors_for @poll

    %h3 Import poll from google forms
    
    %span Copy the live form URL (not the spreadsheet's URL) making sure the form does not require sign-in
    .field
      = f.label :form_url
      = f.text_field :form_url
      = orange_link_to 'Import form', '#', :class => 'import_form_action'
      = f.hidden_field :post_url

    %h2 Poll information

    .field.w30
      = f.label :title
      = f.text_field :title, :class => 'required'
    .field.w30
      = f.label :description
      = f.text_field :description

    %h2 Poll questions
    - if f.object.questions.empty?
      %p Import a form from Google to load its questions
    -else
      = fancy_button 'Reload from Google', 'faccept', :class => 'import_form_action reload_from_google block'
      -#HACK: Use this hidden field to run client-side validation on all questions checking for errors
      = hidden_field_tag :questions_validation, ''
      = render :partial => 'polls/form_editor/questions', :locals => { :f => f, :disabled => true }

    %h2 Poll details

    .field.w30
      = f.label :welcome_message
      = f.text_area :welcome_message, :size => "28x5", :maxlength => 140, :class => 'required ux-wajbar'
    .field.w30
      = f.label :goodbye_message
      = f.text_area :goodbye_message, :size => "28x5", :maxlength => 140, :class => 'ux-wajbar'
    .field.w30
      = f.label :confirmation_word
      = f.text_field :confirmation_word, :class => 'required'

    = grey_button "Create"
    = white_link_to "Cancel", polls_path