#poll_form_import{ko(if: 'kind() == "gforms" && !id()')}
  .box.plain.green.w60
    .field{:style => 'margin: 0'}
      .left{:style => 'width:480px'}
        = f.label :form_url,  _("Import form from Google Forms")
        %p Copy the live URL (not the spreadsheet's URL) displayed at the bottom of your form edition window making sure the form does not require sign-in.
        = image_tag "loading.gif", :class => 'loading', :style=>'display:none'

        = f.text_field :form_url, :class => 'w35'
        = fancy_button _('Import'), 'fimport', ko(disabled: 'importing', click: 'import_form', css: {loading: 'importing'})
        = f.hidden_field :post_url
      .right#preview_box
        %a#preview{:href=>image_path("preview.png")}
          = image_tag("preview_small.png")
      .clear
%br
