#poll_form_container
  = form_for @poll, :html => {:id => 'poll_form', :class => 'validate'} do |f|
    = errors_for @poll
    = hidden_field_tag :id, @poll.id
    = hidden_field_tag :wizard, true if wizard?

    - if @poll.editable?
      = render :partial => 'form_import', :locals => {f:f}

    %h2 Properties

    .field
      = f.label :title
      = f.text_field :title, :class => 'required w60'

    .field
      = f.label :description
      %p This is an internal description of the Poll, it will not be sent to your users
      = f.text_area :description, :class => 'w60', :rows => 5


    .field
      = f.label :welcome_message
      %p This message will be sent to all respondents asking them if they agree to participate in the poll
      = f.text_area :welcome_message, :size => "28x5", :maxlength => 140, :class => 'required ux-wajbar w60', :readonly => !@poll.editable?
    .field
      = f.label :confirmation_words_text, "Confirmation words"
      %p
        Respondents must answer with any of the confirmation words in order to agree to participate in the poll.
        %br/
        You can enter more than one confirmation word by separating them with commas.
      = f.text_field :confirmation_words_text, :class => 'w60', :readonly => !@poll.editable?
    .field
      = f.label :goodbye_message
      %p This message will be sent to respondents when they complete the poll
      = f.text_area :goodbye_message, :size => "28x5", :maxlength => 140, :class => 'ux-wajbar w60'
    .field
      = f.label :recurrence
      %p Choose if and when the poll will be sent periodically to users.
      - if !@poll.status_started?
        = f.recurring_with_time :recurrence
      - else
        %input.w60{type:"text", readonly:"readonly", value:"#{@poll.recurrence_rule} at #{@poll.recurrence_start_time.strftime("%H:%M")}"}

    %hr

    = render :partial => 'form_questions', :locals => {f:f}

    %hr

    .actions
      - back_path = @poll.new_record? ? polls_path : poll_path(@poll)
      - if wizard?
        = white_link_to _("Back"), back_path
        = grey_button _("Next")
      - else
        = grey_button _("Save")
        = white_link_to _("Cancel"), back_path
