#poll_form_container
  = form_for @poll do |f|
    = render "shared/error_messages", :target => @poll

    %h2 Edit Poll

    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :description
      = f.text_field :description
    %p
      = f.label :welcome_message
      = f.text_area :welcome_message, :size => "28x5", :maxlength => 140
    %p
      = f.label :goodbye_message
      = f.text_area :goodbye_message, :size => "28x5", :maxlength => 140

    = f.submit