- content_for :breadcrumb do
  %li
    %a{:href => "#"} dolor
  %li
    %a{:href => "#"} sit
  %li
    %a{:href => "#"} amet

= link_to "Go Back", root_path

%h1 Polls

%h2 Your polls:

= link_to "New Poll", new_poll_path
%br

%ul
  - @polls.each do |poll|
    %li
      = poll.title
      = link_to("View", poll)
      = link_to("Edit", edit_poll_path(poll))
