= render :partial => 'shared/form_header', :locals => { :poll => @poll, :active_tab => 'overview' }

.whitebox.w30
  = "Completed #{@poll.completion_percentage} of the questions."
  %br
  %br

- if @poll.can_be_started?
  = orange_link_to "Start Poll", start_poll_path(@poll.id), :method => :post
  %br
- else
  - if @poll.respondents.empty?
    %p
      = label_tag :respondents, "There are no respondents assigned.", :class => :error
  - if @poll.channel.nil?
    %p
      = label_tag :channel, "There is no channel set.", :class => :error
  
  - if @poll.started?
    %p
      This poll is active and is receiving messages from its respondents
    = link_to "Pause this poll", pause_poll_path(@poll), :method => :post, :class => 'fpause'
  - elsif @poll.paused?
    %p
      This poll is paused and will not send new questions to its respondents
    = link_to "Resume this poll", resume_poll_path(@poll), :method => :post, :class => 'fplay'
    
  %hr
  
  = link_to "Delete this poll", poll_path(@poll), :method => :delete, :confirm => "Are you sure you want to delete poll '#{@poll.title}'?", :class => 'fdelete'

  
