- if params[:wizard]
  %h1.green
    New Poll successfully created
  = wizard [_("Properties"), _("Channel"), _("Respondents"), _("Finish")], _("Finish")
  %br


= render :partial => 'shared/poll_tabs', :locals => { :poll => @poll, :active_tab => 'overview' }

%h1 Properties

- if @poll.can_be_started?
  .box.plain.orange.unstartedPoll
    This poll has not been started yet
    = link_to _("Start Poll"), start_poll_path(@poll), :method => :post, :confirm => _("Are you sure you want to start this poll? Once started, you may not modify its questions or add new respondents."), :class => 'farrow right'
  .clear

.box.overview{:class => ('incomplete' if @poll.respondents.empty?)}
  .i48grad-users.icon
  .content
    - if @poll.respondents.empty?
      No respondents allocated
    - else
      = @poll.respondents.count
      %br
      respondents
  = link_to _("Manage Respondents"), poll_respondents_path(@poll), :class => 'farrow'

.box.overview{:class => ('incomplete' if @poll.channel.nil?)}
  .i48grad-channel.icon
  .content
    - if @poll.channel.nil?
      There is no channel set for this poll
    - else
      Channel
      %br
      = @poll.channel.unprefixed_address
  = link_to _("Manage Channel"), poll_channel_path(@poll), :class => 'farrow'

- if @poll.kind_gforms?
  .box.overview
    .i48grad-googleDocs.icon
    .content
      Questions from Google Docs Form
    = link_to _("Go to live form"), @poll.form_url, :class => 'farrow'

%br
%br

- if @poll.started?
  %span
    This poll is active and is receiving messages from its respondents
  %br
  = link_to _("Pause this poll"), pause_poll_path(@poll), :method => :post, :class => 'fpause'
  - if @poll.has_recurrence? && @poll.next_job
    %p
      - if @poll.next_job_date.future?
        The following ocurrence will happen automatically in
        = "#{time_ago_in_words @poll.next_job_date}."
      - else
        The following ocurrence should have happened automatically
        = "#{time_ago_in_words @poll.next_job_date} ago but it didn't."
      = link_to 'Start it now', run_next_job_poll_path(@poll), :method => :post

- elsif @poll.paused?
  %span
    This poll is paused and will not send new questions to its respondents
  %br
  = link_to _("Resume this poll"), resume_poll_path(@poll), :method => :post, :class => 'fplay'

%hr

= link_to _("Delete this poll"), poll_path(@poll), :method => :delete, :confirm => _("Are you sure you want to delete poll %{title}?") % {:title => @poll.title}, :class => 'fdelete'


