= render :partial => 'shared/form_header', :locals => { :poll => @poll, :active_tab => 'overview' }

%h1 Properties

- if @poll.can_be_started?
  .box.plain.orange.unstartedPoll
    This poll has not been started yet
    = link_to "Start Poll", start_poll_path(@poll), :method => :post, :confirm => "Are you sure you want to start this poll? Once started, you may not modify its questions or add new respondents.", :class => 'farrow right'
  .clear
    
.box.overview{:class => ('incomplete' if @poll.respondents.empty?)}  
  .respondents
  .content
    - if @poll.respondents.empty?
      No respondents allocated
    - else
      = @poll.respondents.count
      %br
      respondents
  = link_to "Manage Respondents", poll_respondents_path(@poll), :class => 'farrow'

.box.overview{:class => ('incomplete' if @poll.channel.nil?)}  
  .channel
  .content
    - if @poll.channel.nil?
      There is no channel set for this poll
    - else
      Channel
      %br
      = @poll.channel.unprefixed_address
  = link_to "Manage Channel", poll_channel_path(@poll), :class => 'farrow'

.box.overview
  .google
  .content
    Questions from Google Docs Form
  = link_to "Go to live form", @poll.form_url, :class => 'farrow'

%br
%br

- if @poll.started?
  %span
    This poll is active and is receiving messages from its respondents
  %br
  = link_to "Pause this poll", pause_poll_path(@poll), :method => :post, :class => 'fpause'
- elsif @poll.paused?
  %span
    This poll is paused and will not send new questions to its respondents
  %br
  = link_to "Resume this poll", resume_poll_path(@poll), :method => :post, :class => 'fplay'
    
%hr

= link_to "Delete this poll", poll_path(@poll), :method => :delete, :confirm => "Are you sure you want to delete poll '#{@poll.title}'?", :class => 'fdelete'

  
