%br
%br
= link_to "Go Back", polls_path

%h1 Poll

#title Title: #{@poll.title}
#description Description: #{@poll.description}
#owner Owner: #{@poll.owner.email}
#channel Channel: #{@poll.channel}
%br
%b= "This poll has no respondents, so it can't be started" if @poll.respondents.empty?
= button_to "Start Poll", {:action => :start, :id => @poll.id}, {:disabled => @poll.respondents.empty?} unless @poll.started?
%br
= link_to "Manage respondents", poll_respondents_path(@poll) unless @poll.started?
= link_to "View Answers", poll_answers_path(@poll) if @poll.started?