= link_to "Go Back", polls_path

%h1 Poll

#title #{@poll.title}
#description #{@poll.description}
#owner #{@poll.owner.email}
#completion Completed #{@poll.completion_percentage}

- if @poll.can_be_started?
  = button_to "Start Poll", start_poll_path(@poll.id)
  %br
  
- else
  - if @poll.respondents.empty?
    %b
      %p= "There are no respondents assigned."
  - if @poll.channel.nil?
    %b
      %p= "There is no channel set."
  - if @poll.started?
    %b
      %p= "Poll has been started!"

- if @poll.respondents.empty? || !@poll.started?
  = link_to "Manage Respondents", poll_respondents_path(@poll)
  |
  
- if @poll.channel.nil?
  = link_to "Add Channel", new_poll_channel_path(@poll)
  |

- if @poll.started?
  = link_to "View Answers", poll_answers_path(@poll)
  |

= link_to 'Delete Poll', @poll, :method => :delete, :confirm => 'Are you sure you want to delete this poll?'