%h1 Poll

#title Title: #{@poll.title}
#description Description: #{@poll.description}
#owner Owner: #{@poll.owner.email}
#channel Channel: #{@poll.channel}
%br

= button_to "Start Poll", :action => :start, :id => @poll.id
= link_to "Manage respondents", poll_respondents_path(@poll)