= render :partial => 'shared/poll_tabs', :locals => { :poll => @poll, :active_tab => 'summary' }

- if @poll.answers.count == 0
  %h1 No answers have been received yet

- else
  #summary
    - @poll.questions.each do |q|
      .question-summary
        %h2= q.title
        %p= q.description
        %br/

        %span.nodata-indicator
          There are no answers to this question yet.
        %div.chart
          = render :partial => "summary/#{q.kind}", :locals => { :question => q }

        %hr/
