- unless wizard?
  - add_breadcrumb _("Respondents"), poll_respondents_path(@poll)
  = render :partial => 'shared/poll_tabs', :locals => { :poll => @poll, :active_tab => 'respondents' }

- content_for :head do
  = angular_js_include_tag
  :javascript
    var file_should_be_in_csv_format = "#{_('Error: file should be in csv format')}";
    var file_successfully_uploaded = "#{_('File successfully uploaded')}";
    var phones_saved_successfully = "#{_('Phones saved succesfully')}";
    var hub_connected_successfully = "#{_('InSTEDD Hub connected. Respondents will be automatically imported.')}";
    var hub_connected_error = "#{_('Error connecting InSTEDD Hub. Please try again later.')}";
    var hub_disconnected_successfully = "#{_('InSTEDD Hub has been disconnected. Respondents will no longer be imported.')}";
    var confirm_delete_respondents = "#{_('Do you want to also remove all respondents imported so far from InSTEDD Hub?')}"
    var hub_disconnected_error = "#{_('Error disconnecting InSTEDD Hub. Please try again later.')}";
    var error_saving_phones = "#{_('Error saving phones')}";

%div{"ng-controller" => "PhonesCtrl"}
  %div{:class => :content}
    %h1 Add respondents
    .whitebox{:style => "margin-top:-12px;"}
      Add phone numbers manually, upload a CSV file or connect with InSTEDD Hub
      %br
      %br
      - unless @can_edit
        Because the poll has already started, you can only add respondents.
        %br
        New respondents will be invited after you click 'Save'.
        %br
        %br
      #export_csv
        = button_tag :type => :button, :class => :fimport, :style => 'display:none;' do
          %b Download a sample csv file
          and fill it with the phone numbers
      #import_csv
        = button_tag :type => :button, :class => :fimport do
          %b Upload a CSV for bulk account creation
      %br
      #hub_action
        = button_tag :type => :button, :class => :fdatabase, 'ng-click' => 'chooseHubAction()' do
          %b Connect with InSTEDD Hub
        #hub_details{'ng-show' => 'hub_path != null'}
          Using
          %span.hub_entity_set{'ng-bind' => 'hub_label', 'ng-click' => 'chooseHubAction()'}
          with field
          %select{'ng-options' => 'field as field.label() for field in hub_fields', 'ng-model' => 'hub_phone_field'}
          %br
          .import_actions
            %button.grey{'ng-click' => 'connectHub()', 'ng-switch' => true, 'on' => 'hub_status', 'ng-disabled' => 'hub_status != "pending" || !hub_phone_field'}
              %span{'ng-switch-when' => 'connected'} Connected
              %span{'ng-switch-when' => 'connecting'} Connecting
              %span{'ng-switch-default' => true} Connect
            %button.white{'ng-click' => 'clearHubAction()', 'ng-switch' => true, 'on' => 'hub_status', 'ng-disabled' => 'hub_status == "clearing" || hub_status == "connecting"'}
              %span{'ng-switch-when' => 'clearing'} Cancelling
              %span{'ng-switch-default' => true} Cancel

      %br
      %button.fedit{'ng-click' => 'show_add_respondents = !show_add_respondents'}
        %b Manually add new respondents
      #respondents-container{'ng-show' => 'show_add_respondents'}
        %ul{:class => "clist w30"}
          / %li{"ng-repeat" => "phone in fixed_phones"}
          /   = text_field_tag "phone.number", "{{phone.number}}", :disabled => true, :class => "ux-clist"
          %li{"ng-repeat" => "phone in new_phones"}
            = text_field_tag "phone.number", "{{phone.number}}", :class => "ux-clist"
            = button_tag "", :type => :button, :class => "clist-remove", "ng-click" => "removePhone(phone.number)"
          %li
            = content_tag :form, "ng-submit" => "addPhone()" do
              %input.ux-text#numberText{:type => 'text', :placeholder => _("Add a new phone..."), :'ng-model' => 'numberText'}
              = button_tag "", :type => :button, :class => "clist-add", "ng-click" => "addPhone()"
        .import_actions
          %button.grey{"ng-click" => "saveChanges(true)"}
            %span Save
          %button.white{"ng-click" => "clearChanges()"}
            %span Clear
    %br
    %hr
    %br

    #respondents-list-container
      = render 'respondents/list'

    - if wizard?
      .actions
        = white_link_to _("Back"), poll_channel_path(@poll, :wizard => true)
        = grey_link_to _("Next"), poll_path(@poll, :wizard => true)
