- content_for :head do
  = angular_js_include_tag

%h1 
  Manage respondents for
  = @poll.title
.notice

= form_for @poll, :method => :post, :url => { :action => "import_csv" }, :html => {:multipart => true} do |f|
  %h3 Get phones from csv file
  %p
    = file_field_tag :csv

%h3 Add Phones Manually

= content_tag :div, "ng:controller" => "PhonesCtrl" do
  = content_tag :form, "ng:submit" => "addPhone()" do
    .field
      = text_field_tag "numberText", nil, :placeholder => "Enter a phone number...", :size => "35"
      = orange_button "Add"
  %ul
    = content_tag :li, "ng:repeat" => "phone in phones" do
      = check_box_tag "phone.checked"
      %span {{phone.number}}
  
  = grey_button "Save", :type => :button, "ng:click" => "saveChanges()"
  = white_link_to "Cancel", @poll

:javascript
  $(document).ready(function() {
    $('.numberText').numeric({ negative: false });
  });

  function PhonesCtrl() {
    var modified = false;
    var scope = this;
    scope.phones = #{@poll.respondents.map{|x| {:number => x.unprefixed_phone}}.to_json};
   
    scope.addPhone = function() {
      var phones = _.map(scope.phones, function(phone) { return phone.number });
      if (!_.include(phones, scope.numberText)) {
        modified = true;
        scope.phones.push({number:scope.numberText});
        scope.numberText = ''; 
      }
    };
   
    scope.removeChecked = function() {
      modified = true;
      var oldPhones = scope.phones;
      scope.phones = [];
      angular.forEach(oldPhones, function(phone) {
        if (!phone.checked) scope.phones.push(phone);
      });
    };

    scope.saveChanges = function() {
      var phones = _.map(scope.phones, function(phone) { return phone.number });
      if (modified) {
        $.post('#{batch_update_poll_respondents_path}', {'phones': phones});
        $(".notice").html("Phones saved succesfully!");
        modified = false;
      } else {
        $(".notice").html("");
      }
    };
  }