!!!
%html{"xmlns:ng" =>"http://angularjs.org"}
  %head
    %title Pollit
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = stylesheet_link_tag 'http://dax7k8orhij0j.cloudfront.net/theme/stylesheets/theme.css'
    = javascript_include_tag 'http://dax7k8orhij0j.cloudfront.net/theme/javascripts/theme.js'
    = csrf_meta_tags
  %body
    = flash_message
    #wrapper
      #toolbar
        %ul#instedd-pulldown
        #NavMenu
          %ul
            %li
              = link_to "Home", root_path
            %li
              = link_to "Polls", polls_path
        %ul.RightMenu
          %li
            #User
              - if user_signed_in?
                #{current_user.email}
                %br
                %br
                .container
                  = link_to "Sign out", destroy_user_session_path
                  %br
                  = link_to "Settings", "#"
              - else
                = link_to "Sign in", new_user_session_path
          %li
            %a.icon.fsettings{:href => "#"}
      #header
        .left
          %a{:href => "/"}
            %img{:src => "http://dax7k8orhij0j.cloudfront.net/theme/images/header/logos/pollit.png"}
        
        - if content_for?(:breadcrumb)
          .BreadCrumb
            %ul
              = yield(:breadcrumb)
              
      #container
        = yield

      #footer-span
        #footer
          = render :partial => "shared/footer"