!!!
%html
  %head
    %title Pollit
    = yield(:head)
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = stylesheet_link_tag 'http://theme.instedd.org.s3.amazonaws.com/theme/stylesheets/theme.css'
    = javascript_include_tag 'http://theme.instedd.org.s3.amazonaws.com/theme/javascripts/theme.js'
    = csrf_meta_tags
  %body
    = flash_message
    #wrapper
      #toolbar
        %ul#instedd-pulldown
        #NavMenu
          %ul
            %li
              = link_to "Home", root_path
            %li
              = link_to "Polls", polls_path
        %ul.RightMenu
          - if !current_user.nil?
            %li
              #User
                = current_user.email
                %br
                %br
                .container
                  = link_to "Logout", destroy_user_session_path
            %li
              = link_to '', edit_user_registration_path, :class => 'fsettings'
          - else
            %li
              = link_to "Create account", new_user_registration_path, :class => 'fedit'
            %li
              = link_to "Log in", new_user_session_path, :class => 'fuser'
      #header
        .left
          %a{:href => "/"}
            %img{:src => "http://theme.instedd.org/theme/images/header/logos/pollit.png"}
        
        - if content_for?(:breadcrumb)
          .BreadCrumb
            %ul
              = yield(:breadcrumb)
              
      #container
        = yield

      #footer-span
        #footer
          = render :partial => "shared/footer"