<%= body do %>
	<%=  header do %>
		<%= image_tag "pollit.png" %>
		<%= image_tag "shadow_small.png" %>
	<% end %>
	<%= content do %>
		<%= yield %>
	<% end %>
  <%= footer do %>
		<hr/>
		<p>
			<%= _('Do you have questions or need help? Contact us at') =%>
			<%= link "mailto:support@instedd.org?subject=Pollit" do %>
				support@instedd.org
			<% end %>
		</p>
	<% end %>
<% end %>
